<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:context="http://www.springframework.org/schema/context"
	   
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/tx
	   http://www.springframework.org/schema/tx/spring-tx.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd
	   ">

	   <context:annotation-config/>
	   
	   <context:component-scan	base-package="com.franciszabala"
	   		use-default-filters="true">
	   		<context:exclude-filter type="annotation"
	   			expression="org.springframework.stereotype.Controller"/>
	   </context:component-scan>
	   <!--  

	   <bean id= "validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>
 
 		<bean id="dataSource"
 				class="org.springframework.jdbc.datasource.DriverManagerDataSource">
 				
 				<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
 				<property name="url" value="jdbc:mysql://localhost/tester_jerald"/>
 				<property name="username" value="root"/>
 				<property name="password" value=""/>
 				
 		</bean>
 		 -->
 		<!-- <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
 				<property name="dataSource" ref="dataSource"/>
 		</bean> -->
 		<!-- 
 		<bean id="jdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
 				<constructor-arg name="dataSource" ref="dataSource"/>
 		</bean>
 		 -->
 
 
 	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/shopping-cart" />
		<property name="username" value="root" />
		<property name="password" value="test" />
	</bean>

	<bean name="sessionFactory" 
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
			<property name="dataSource" ref="dataSource"></property>
			<property name="packagesToScan" value="com.franciszabala.model"></property>
			<property name="hibernateProperties">
					<props>
						<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
						<prop key="hibernate.show_sql">true</prop>
						<prop key="hibernate.hbm2ddl.auto">update</prop>
						<!-- create, create-drop, update > (for dev only), validate > (for prod only) -->
					</props>
			</property>
	</bean>


	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:annotation-driven  mode="proxy" />
</beans>